body {
    background-image:url(https://www.hdwallpapers.in/download/sky_with_full_sparkling_colorful_stars_hd_galaxy-2560x1440.jpg);
}

div {
    background-color: rgb(90, 15, 160);
    opacity: 80%;
}

h1 {
    color:rgb(255, 255, 255);
    text-align:center;
    margin: 30px;
}

.image {
    text-align: center;
}

img {
    display: grid;
    max-width: 100%;
    max-height: 100%;
    opacity: 90%;
    margin: 0 auto;

}